*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: "Circe", sans-serif;
    min-width: 1100px;
    height: auto;
    font-weight: 400;
    line-height: 100%;
    background-color: #090A1A;
    color: white;
}

ul{
    list-style-type: none;
}

img{
    width: 100%;
}

button{
    outline: none !important;
    font-family: inherit;
    font-size: inherit;
}

input{
    font-size: inherit;
    font-family: inherit;
}